@tailwind base;
@tailwind components;
@tailwind utilities;
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
.smooth-scroll {
  scroll-behavior: smooth; /* Add smooth scrolling to all links */
}
